* @HuaLaNN-HS @linxiayuyi

# 关键文件
/.github/ @HuaLaNN-HS
/tools/ @HuaLaNN-HS
*.md @HuaLaNN-HS
*.ps1 @HuaLaNN-HS

# 构建关键文件
*.csproj @HuaLaNN-HS
*.props @HuaLaNN-HS
*.targets @HuaLaNN-HS

# 关键组件
/ClassIsland/Services/LessonsService.cs @HuaLaNN-HS
/ClassIsland/Services/ProfileService.cs @HuaLaNN-HS
/ClassIsland/Services/SettingsService.cs @HuaLaNN-HS
/ClassIsland/Services/Management/ @HuaLaNN-HS
/ClassIsland/MainWindow.xaml* @HuaLaNN-HS
/ClassIsland/App.xaml* @HuaLaNN-HS
/ClassIsland.Core/ThemeBase.xaml @HuaLaNN-HS

# 类别：自动化
**/Action @HuaLaNN-HS
**/Automation @HuaLaNN-HS
/ClassIsland.Core/Abstractions/Services/IActionService.cs @HuaLaNN-HS
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs @HuaLaNN-HS
/ClassIsland/Services/ActionService.cs @HuaLaNN-HS
/ClassIsland/Services/AutomationService.cs @HuaLaNN-HS
/ClassIsland/Models/Actions @HuaLaNN-HS
/ClassIsland/Controls/ActionSettingsControls @HuaLaNN-HS

# 类别：集控/Protobuf
*.proto @HuaLaNN-HS
